<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{.Frontmatter.title}} - Matin's Blog</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/profanity.js"></script>
</head>

<body class="min-h-screen flex flex-col items-center justify-center content">
    <button id="profanityToggle" onclick="toggleProfanity()">Enable Profanity</button>
    <div class="max-w-2xl mx-auto">
        <h1 class="text-4xl font-black">{{.Frontmatter.title}}</h1>
        {{if .Frontmatter.description}}<p>{{.Frontmatter.description}}</p>{{end}}
        <div>
            {{if .Frontmatter.date}}<span>{{.Frontmatter.date}}</span>{{end}}
            {{if and .Frontmatter.lastmod (ne .Frontmatter.lastmod .Frontmatter.date)}}
            <span>(Last modified: {{.Frontmatter.lastmod}})</span>
            {{end}}
        </div>
        <div class="text-justify">
            {{.Content}}
        </div>
        <p><a href="../">Back to Home</a></p>
    </div>
</body>

</html>